nav{
    background: black;
}
.nav-flex{
	display:flex;
	flex-direction:row;
	align-items:center;
	flex-wrap:nowrap;
	background-color:white;
}
.nav-flex-item{
	list-style-type:none;
	padding:20px;
	margin-right:0px;
	font-size:20px;
}
.nav-flex-item:hover{
	background-color:#5CCCCC;
}