nav {
    width: 100%;
    background-color: rgba(0,0,0,0.3);
}
.nav-flex{
	display:flex;
	flex-direction:row;
	align-items:center;
	flex-wrap:nowrap;
	background-color:white;
}
.nav-flex-item{
	list-style-type:none;
	padding:20px;
	margin-right:0px;
	font-size:20px;
}
.nav-flex-item:hover{
	background-color:#5CCCCC;
}
header {
    background-image: url(фон.jpg);
    text-align: center;
    height: 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
}
.header-title{
    background-color: aqua;
}