.nav-flex{
	display:flex;
	flex-direction:row;
	align-items:center;
	flex-wrap:nowrap;
	background-color:black;
}
.nav-flex-item{
	list-style-type:none;
	padding:20px;
	margin-right:0px;
	font-size:20px;
}
.nav-flex-item:hover{
	background-color:#5CCCCC;
}
header {
    background-image: url(фон.jpg);
    text-align: center;
    height: 400px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 180px;
    font-size: 40px;
}
.header-title{
    color: aqua;
    font-size: 40px;
}
main{
    height: 250px;
    text-align: left;
}
.nav-flex.inf{
    background-color:white;
    align-items: left;
}
.figure{
    list-style-type: none;
}
.me{
    width:50px;
}